.welcome {
    font-weight: bold;
    color: gray;
}

#token-balance {
    font-weight: bold;
    color: green;
}

#token-totalSupply {
    font-weight: bold;
    color: red;
}

#startpage {
    display: none;
}

#accountAddress {
    font-weight: bold;
}

#contractId-info, #refund-contractId {
    font-weight: bold;
}


.form-group {
    padding-top: 50px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}