.introduction {
    font-weight: bold;
    color: gray;
}

.token-symbol{
    font-weight: bold;
}


#token-balance {
    font-weight: bold;
    color: green;
}

#token-totalSupply {
    font-weight: bold;
    color: red;
}

/*
#accountAddress{
    font-weight: bold;
}
*/


/*
#tokenContractAddress {
    font-weight: bold;
}
*/
